[Credentials]
gmail_password=jesuischarlie1
android_ID=3d716411bf8bc802
gmail_address=fdroidserver@gmail.com
language=fr_FR
[Server]
folder=/opt/gplayweb/repo
root_url=/
port=8888
#ip=0.0.0.0
#fdroid_repo_dir=/opt/gplayweb
#fdroid_script_dir=/opt/fdroidserver
#fdroid_custom_category=GPlayWeb
