[Credentials]
gmail_password=zHbdWdWtvdQAfylf
android_ID=3d716411bf8bc802
gmail_address=fdroidserver@gmail.com
language=fr_FR
token=True
token_url=https://matlink.fr/token/email/gsfid

[Cache]
token=~/.cache/gplaycli/token

[Server]
folder=/data/fdroid/repo
root_url=/
port=8888
ip=0.0.0.0
fdroid_repo_dir=/data/fdroid/
fdroid_exec=/usr/bin/fdroid
#fdroid_custom_category=GPlayWeb
