<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
        <title>GPlayWeb</title>
        <!--
         *******************************************************************************
         * "THE BEER-WARE LICENSE" (Revision 42):
         * <matlink@matlink.fr> and friends wrote this file.  As long as you retain this
         * notice you can do whatever you want with this stuff. If we meet some day, and
         * you think this stuff is worth it, you can buy us a beer in return. 
         * Matlink & Co.
         *******************************************************************************
        -->
        <link rel="stylesheet" href="{{ static_url("css/bootstrap.min.css") }}" />
    	<style>
        .form-horizontal{
            padding-top: 5px;
        }
        .container{
            padding: 0;
        }
        .center-h2{
            text-align: center;
        }
    	</style>
	</head>
	<body>
        <header id="page_header">
            <div class="navbar navbar-default">
                <h2 class="center-h2">GPlayWeb: A web interface for GPlayCli</h2>
                <div class="container-fluid">
                    <ul id="main-navbar" class="nav navbar-nav">
                        <li><a href="{{ROOT}}?page=list"><span class="glyphicon glyphicon-list">  List</span></a></li>
                        <li><a href="{{ROOT}}?page=search"><span class="glyphicon glyphicon-search">  Search</span></a></li>
                        <li><a href="{{ROOT}}?page=download"><span class="glyphicon glyphicon-download-alt">  Download</span></a></li>
                        <li><a href="{{ROOT}}?page=emptycache"><span class="glyphicon  glyphicon glyphicon-refresh">  Clear cache</span></a></li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="panel panel-default container">
        {% block body %}
        {% end %}
        </div>
    </body>
</html>
