{% extends "base.html" %}

{% block body %}
<div class="panel-heading form-inline">
	<h3><span class="glyphicon glyphicon-list"> Listing {{len(items)}} apks</span></h3>
</div>
    <table class="table table-striped .table-bordered .table-hover">
    	<thead><tr>
    		<th>Title</th>
            <th>Creator</th>
            <th>Size</th>
            <th>Downloads</th>
            <th>Last Update</th>
            <th>AppID</th>
            <th>Version</th>
            <th>Rating</th>
            <th>Download from server</th>
            <th>Remove</th>
    	</tr></thead>
        {% for item in items %}
    		<tbody><tr>
    		{% for indice, detail in enumerate(items[item]) %}
			<td {% if indice==0 %} class="app-name" {% end %}>{% if indice == 5 %} <a target="_blank" href="https://play.google.com/store/apps/details?id={{detail}}"><span class="glyphicon glyphicon-link"></span></a>{% end %}{{ detail }}</td>
    		{% end %} 
    			<td><a href="{{ROOT}}?page=downloadfromserver&amp;name={{item}}"><span class="glyphicon glyphicon-download"></span></a></td>
    			<td><a href="{{ROOT}}?page=remove&amp;name={{item}}"><span class="glyphicon glyphicon-trash"></span></a></td>
    		</tr></tbody>
    	{% end %}
    </table>
{% end %}
