{% extends "base.html" %}

{% block body %}
<div class="panel-heading form-inline">
	<h3><span class="glyphicon glyphicon-search"> {{number}} first results of the search : {{string}}</span></h3>
</div>
    <table class="table table-striped">
        {% for position,item in enumerate(items) %}
        	{% if position == 0 %}
				<thead><tr>
					{% for detail in item %}
						<th>{{ detail }}</th>
					{% end %} 
						<th> Download to server </th>
				</tr></thead>
            {% else %}
            	<tbody><tr>
            	{% for indice, detail in enumerate(item) %}
		<td {%if indice==0%}class="app-name"{%end%}>{% if indice == 5 %} <a target="_blank" href="https://play.google.com/store/apps/details?id={{detail}}"><span class="glyphicon glyphicon-link">{% end %}</span></a>{{ detail }}</td>
        		{% end %} 
        		<td><a href="{{ROOT}}?page=download&amp;name={{item[5]}}"><span class="glyphicon glyphicon-download-alt"></span></a></td>
            	</tr></tbody>
			{% end %}
        {% end %}
    </table>
{% end %}
